@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

.goods_wrapper {
  max-width: 867px;
  margin: 40px 0 0 40px;
}

.goods_header {
  width: 867px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.goods_header_title,
.goods_header_text {
  padding: 0;
  margin: 0;
}

.goods_header_title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2c2d2e;
}

.goods_header_text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2c2d2e;
  opacity: 0.6;
}

.goods_header_button button {
  width: 129px;
  height: 40px;
  box-sizing: border-box;
  background: #4877f2;
  border-radius: 4px;
  padding: 0 10px 0 10px;
  border: none;
  cursor: pointer;
}

.goods_header_button_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods_header_button_text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.goods_header_button_sign {
  color: #fff;
  font-size: 25px;
  margin-left: 10px;
}

.goods_divider {
  width: 867px;
  height: 1px;
  background-color: rgba(42, 47, 55, 0.1);
  margin-bottom: 24px;
}

// search form
form {
  position: relative;
  width: 420px;
}

input,
.search_button {
  border: none;
  outline: none;
}

input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
}

.search_button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}

.search_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

// pagination
.pagination_wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.pagination_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2c2d2e;
}

.button_prev,
.button_next {
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  background-color: #fff;
  cursor: pointer;
}

.button_prev {
  margin-right: 10px;
}

.arrow_prev,
.arrow_next {
  width: 10px;
  height: 10px;
}

.arrow_prev {
  border-left: 2px solid #2c2d2e;
  border-bottom: 2px solid #2c2d2e;
  transform: rotate(45deg);
}

.arrow_prev_disabled {
  width: 10px;
  height: 10px;
  border-left: 2px solid rgba(44, 45, 46, 0.5);
  border-bottom: 2px solid rgba(44, 45, 46, 0.5);
  transform: rotate(45deg);
}

.arrow_next {
  border-right: 2px solid #2c2d2e;
  border-bottom: 2px solid #2c2d2e;
  transform: rotate(-45deg);
}

.arrow_next_disabled {
  width: 10px;
  height: 10px;
  border-right: 2px solid rgba(44, 45, 46, 0.5);
  border-bottom: 2px solid rgba(44, 45, 46, 0.5);
  transform: rotate(-45deg);
}

// goods list

.goods_list_header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 12px 24px;
}

.goods_list_header p {
  width: 25%;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #2c2d2e;
  opacity: 0.6;
  padding: 0;
  margin: 0;
  text-align: center;
}

.goods_list_header p:nth-child(1) {
  text-align: left;
}

.good_item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 28px 24px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2c2d2e;
}

.good_item:hover {
  border: 1px solid rgba(72, 119, 242, 0.5);
}

.good_item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  color: #2c2d2e;
  text-align: center;
}

.good_item p:nth-child(1) {
  text-align: left;
}

.good_item p,
.good_item_wrapper {
  width: 25%;
}

.good_item_wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 65px;
}

.menu_button {
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.menu_button:hover {
  background-color: rgba(44, 45, 46, 0.04);
}

.menu_button span {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(44, 45, 46, 0.6);
  box-shadow: 0 7px 0 rgba(44, 45, 46, 0.6), 0 -7px 0 rgba(44, 45, 46, 0.6);
}

// popup menu

.popup_wrapper {
  width: 242px;
  height: 148px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(44, 45, 46, 0.08);
  position: absolute;
  top: 22px;
  right: 0;
  display: none;
  z-index: 10;
}

.menu_button:hover .popup_wrapper {
  display: block;
}

.popup_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup_list_item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 16px 0 8px 24px;
  box-sizing: border-box;
  cursor: pointer;
}

.popup_list_item:hover {
  background-color: rgba(44, 45, 46, 0.04);
}

.popup_list_item:hover svg * {
  opacity: 1;
}

.popup_list_item:nth-child(2) {
  border-top: 1px solid rgba(44, 45, 46, 0.08);
  border-bottom: 1px solid rgba(44, 45, 46, 0.08);
}

.popup_list_link {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2c2d2e;
}
