@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

header {
  height: 72px;
  background-color: #fff;
}

.container {
  height: 72px;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header_logo,
.header_profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header_logo_text {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #424242;
}

.header_profile_text {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #424242;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
